:root {
	--mainColor: #1c1c1c;
	--mainFont: "futura-pt", sans-serif;
};

html {
	 background-color: #060742;
	 font-family: var(--mainFont);
}

body {
	background-color: var(--mainColor);
	font-family: var(--mainFont);
	width:100%;
	min-height: 100vh;
	text-align: center;
}

.custom-link {
	text-decoration:none;
}

#app {
	min-height: 100vh;
	font-family: var(--mainFont);
}

#nav-wrapper {
	display:block;
	margin-top:150%;
}

#bar {
	z-index: 1;
	position:fixed;
	left:0;
	top:0;
	width: 100px;
	height: 100vh;
	display:block;
	text-align: center;
	background-color: rgba(0,0,0,0.9);

}

#logo-bar {
	width: 80px;
	height:auto;
	position:fixed;
	top:45%;
	left:10px;
}

.nav-link {
	color: rgb(184, 183, 173);
	font-weight:normal
	font-family: var(--mainFont);
}

.nav-link:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#legal-in-sidebar {
	position: absolute;
	bottom:5px;
	left:10px;
}

#legal-in-sidebar-absolute {
	position:absolute;
	bottom:0;
	left:0;
}

.page {
	color:white;
}

#background-video {
	position: fixed;
    top: 0%;
    left: 0%;
}

#page-wrap {
	min-height: 100vh;
}

#home-page {
	min-height: 100vh;
	background-color: var(--mainColor);
}

.page-title {
	position: relative;
	padding-top:5%;
	font-weight:bolder;
	font-size: 3.45em;
	-webkit-font-smoothing: antialiased;
}

#homepage-title {
		padding-top: 12%;
}

#homepage-button-wrapper {
	/*background-color: rgba(0,0,0,.5);
  	background-blend-mode: multiply;*/
  	position:relative;
  	padding: 5% 0px 5% 0px;
  	margin-top: 5%;
  	margin-left:auto;
  	margin-right:auto;
}

.block-button {
	display: inline-block;
	width:30%;
	text-align:center;
	padding: 0% 5% 0% 5%;
}

.block-button:hover {
	padding:;
}

.homepage-button {
	color:rgba(255,255,255,0.9);
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	height: 5%;
	text-align:center;
	vertical-align: middle;
	white-space: normal;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.homepage-button:hover {
	background-color: rgba(0,0,0,.9);
  	background-blend-mode: multiply;
  	color: white;
  	vertical-align: middle;
  	font-weight: bold;
}

.dark-tint {
	min-height: 100vh;
	background: -webkit-linear-gradient(left, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(0,0,0,0) , rgba(0,0,0,1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(0,0,0,0) , rgba(0,0,0,0.5)); /* Standard syntax */
}

#home-page-overlay{
	color: #fff;
	z-index: 1;
	
}

#global-warming-quote {
	padding: 0 2% 2% 0;
	text-align:right;
	color: rgba(173, 173, 173, 0.5);
	position:fixed;
	bottom: 0;
	right: 0;
	z-index: 5000000;
}

#big-data-page {
	color:white;
}

.left-column {
	position:fixed;
	left:0;
	top:0;
	margin-left: 5%;
	width: 45%;
	min-height: 100%;
}

.right-column {
	height: 100vh;
	overflow:auto;
	color: grey;
	float: right;
	width: 50%;
	margin-right: 0%;
	background-color: #fff;
	min-height: 100%;
	text-align:center;
}

.offering-description-title {
	font-weight: bolder;
	font-size: 2em;
}

.offering-description-div {
	width: 80%;
	padding-left:5%;
	text-align:left;
	font-size: 1.3em;
}

#offering-pic {
	z-index: -1;
	position:fixed;
	top:0;
	left: 5%;
	margin-top: 0%;
	width: 45%;
	height: auto;
	overflow:hidden;
}

.right-column-content {
	margin-top:5%;
}

.course-description-text {
	background-color: rgba(0,0,0,0.1);
	padding: 1.5%;
	font-size: 1.5em;
	line-height: 1.4;
	margin-top: 5%;
	width: 50%;
	text-align:center;
	position:relative;
	margin-left: auto;
	margin-right: auto;
}

.course-description-text-note {
	color: rgba(255,255,255,0.3);
}

.offerings-buttons-wrapper {
	margin-top: 6%;
	text-align: center;
}

.button-link {
	vertical-align: middle;
	color: #fff;
	font-weight: bold;
	background-color: black;
	width: 100%;
	height: 100%;
	border: solid 1px #666;
	padding: 30px 20px 30px 20px;
}

.button-link:hover {
	text-decoration: none;
}

#offerings-buttons-table {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	vertical-align: middle;
	border-spacing: 15px;
}

#offerings-buttons-table tr {
	vertical-align: middle;
}

#offerings-buttons-table td {
	padding: 0px 5px 0px 5px;
	width: 350px;

}

.button-link:hover {
	text-decoration: none;
	border: solid 1px orange;
	cursor: pointer;
}

#aboutus-content {
	font-size: 1.5em;
	margin-top: 5%;
}

#team-page-content {
	font-size: 1.5em;
	margin-top: 5%;
}

.team-name {
	color: #e0e0e0;
}

.team-name:hover {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

#profile-photo {
	margin-top:2%;
	width: 50%;
	height:auto;
}

#tiny-logo {
	width:50px;
	height:auto;
}
